@model RentalKendaraan_018.Models.Upload.FilesViewModel

<p> List of Files </p>

<ul>
    @foreach (var item in Model.Files)
    {
        <li>
            <a asp-action="Download"
                asp-route-filename="@item.Name">
            </a>
        </li>
    }
</ul>


